<div>
    <div>
        <mat-card>
            <div>
                <mat-form-field>
                    <mat-label>ФИО</mat-label>
                    <input matInput placeholder="Иванов Иван Иванович">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Цена</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Комментарий</mat-label>
                    <textarea matInput placeholder="Работал на заводе"></textarea>
                </mat-form-field>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <button mat-raised-button>Выставить</button>
        </mat-card>
    </div>
</div>